form {
  width: 100%;
  display: flex;
  height: auto;
  margin-bottom: 2rem;
  height: 50px;

  & button {
    margin-left: 0.5rem;
    background-color: #6264a7;
    color: white;
  }

  & mat-form-field {
    flex-grow: 1;
    color: white;
  }

  & mat-icon{
      font-weight: bold;
  }
}
