@import 'scss/vendors/_normalize.scss';


html, body {
  height: 100%;
}

// Uncomment this line if you want to create a chrome extension
//@import 'scss/abstracts/mixins.scss';

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #282828;
  // Uncomment this line if you want to create a chrome extension
  //@include chrome-extension;
}
