<form class="edit-task-form" (ngSubmit)="submit(form.value.title)" [formGroup]="form">

  <app-color-picker [initialColor]="task.color" (colorChange)="onColorChange($event)"></app-color-picker>

  <mat-form-field appearance="standard">
    <mat-label>Title</mat-label>
    <input #titleInput formControlName="title" matInput aria-required="true">
    <mat-error *ngIf="form.invalid">{{getErrorMessageFieldTitle()}}</mat-error>

  </mat-form-field>

  <button class="submit-edit-task-button" [disabled]="form.invalid" mat-icon-button type="submit" aria-label="Submit edit task">
    <mat-icon aria-label="Done icon">
      done
    </mat-icon>
  </button>
</form>
