<form class="add-task-form" (ngSubmit)="submit(form.value.title)" [formGroup]="form">

  <app-color-picker (colorChange)="onColorChange($event)"></app-color-picker>

  <mat-form-field appearance="fill">
    <mat-label>Title</mat-label>
    <input formControlName="title" matInput aria-required="true">
    <mat-error *ngIf="form.invalid">{{getErrorMessageFieldTitle()}}</mat-error>
  </mat-form-field>

  <button class="add-task-button" [disabled]="form.invalid" mat-button type="submit" aria-label="Add task">
    <mat-icon aria-label="Plus icon">
      add
    </mat-icon>
  </button>
</form>
