<app-generic-list [list]="tasks" [animationIsRunning]="animationIsRunning">
  <ng-container content>
    <mat-list role="list">
      <mat-list-item [@list] (@list.done)="toggleAnimation(false)" (@list.start)="toggleAnimation(true)"
                     role="listitem" *ngFor="let task of tasks; let index = index" (mouseenter)="setHoveredTaskIndex(index)" (mouseleave)="setHoveredTaskIndex()" >

        <section class="example-section">
          <div>

            <button [ngStyle]="{'opacity': (task.subtasks.length > 0) ? '1' : '0'}"
                    (click)="onToggleExpandTask(task)" mat-icon-button arial-label="toggle expand task" class="toggle-expand-task-button">
              <mat-icon [class.arrow-up]="task.expanded" aria-label="toggle expand icon">
                arrow_drop_down
              </mat-icon>
            </button>

            <span>
              <mat-checkbox style="--checkbox-bc: {{task.color}}" [checked]="allSubTasksIsCompleteted(task)"
                            [indeterminate]="someComplete(task)" (change)="completeTask(task)">
                {{task.title | shorten}}
              </mat-checkbox>
            </span>

            <button [class.active]="hoveredTaskIndex === index" mat-icon-button arial-label="Add subtask" class="add-subtask-button">
              <mat-icon aria-label="Plus icon">
                add
              </mat-icon>
            </button>
          </div>

          <button [class.active]="hoveredTaskIndex === index" color="warn" mat-icon-button arial-label="Edit task" class="edit-task-button">
            <mat-icon aria-label="Edit icon">
              edit
            </mat-icon>
          </button>

          <span class="subtasks" [class.subtasks_expanded]="task.expanded">
            <ul>
              <li *ngFor="let subtask of task.subtasks">

                <mat-checkbox style="--checkbox-bc-color: {{task.color}}" class="sub-task-checkbox" [(ngModel)]="subtask.completed"
                              (ngModelChange)="updateAllComplete()">
                  {{subtask.title | shorten}}
                </mat-checkbox>

              </li>
            </ul>
          </span>

        </section>

      </mat-list-item>
    </mat-list>

  </ng-container>
</app-generic-list>
