<app-generic-list [list]="tasks" [animationIsRunning]="animationIsRunning">
  <ng-container content>
    <table mat-table 
                    [dataSource]="tasks"
                    cdkDropList
                    (touchmove)="onTouchMove($event)"
                    [cdkDropListData]="tasks"
                    (cdkDropListDropped)="updateOrderIndex($event)">

      <ng-container matColumnDef="tasks">

        <td (mouseenter)="setHoveredTaskIndex(index)" (mouseleave)="setHoveredTaskIndex()"
            [@list] (@list.done)="toggleAnimation(false)" (@list.start)="toggleAnimation(true)"
            mat-cell *matCellDef="let task; let index= index">

          <div style="display: flex;">
            <button [ngStyle]="{'opacity': (task.subtasks.length > 0) ? '1' : '0'}"
                    (click)="onToggleExpandTask(task)" mat-icon-button arial-label="toggle expand task" class="toggle-expand-task-button">
              <mat-icon [class.arrow-up]="task.expanded" aria-label="toggle expand icon">
                arrow_drop_down
              </mat-icon>
            </button>

            <span class="mat-checkbox-span">
              <mat-checkbox style="--checkbox-bc: {{task.color}}" [checked]="allSubTasksIsCompleteted(task)"
                            [indeterminate]="someComplete(task)" (change)="completeTask(task)">
                {{task.title | shorten}}
              </mat-checkbox>
            </span>
          </div>

          <div class="action-buttons" [class.active]="hoveredTaskIndex === index">
            <button mat-icon-button arial-label="Add subtask" class="add-subtask-button">
              <mat-icon aria-label="Plus icon">
                add
              </mat-icon>
            </button>


            <button mat-icon-button arial-label="Edit task" class="edit-task-button">
              <mat-icon aria-label="Edit icon">
                edit
              </mat-icon>
            </button>
          </div>

          <span class="subtasks" [class.subtasks_expanded]="task.expanded">
            <ul>
              <li *ngFor="let subtask of task.subtasks">

                <mat-checkbox style="--checkbox-bc-color: {{task.color}}" class="sub-task-checkbox" [(ngModel)]="subtask.completed"
                              (ngModelChange)="updateAllComplete()">
                  {{subtask.title | shorten}}
                </mat-checkbox>

              </li>
            </ul>
          </span>
        </td>
      </ng-container>

      <tr mat-row *matRowDef="let row; columns: columnsToDisplay"
          cdkDrag [cdkDragData]="row">
      </tr>

      </table>

  </ng-container>
</app-generic-list>
