mat-list-item:not(:first-child) {
  word-break: break-word;
}

mat-list {
  overflow: auto;
  height: auto;

  &::-webkit-scrollbar {
    display: none;
  }
}

.example-section {
  margin-bottom: .5rem;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.sub-task-checkbox {
  margin-left: 4rem;
}

ul {
  list-style-type: none;
}

.add-subtask-button {
  color: #6264a7;
  opacity: 0;
  transition: .2s;

  & mat-icon {
    font-weight: bolder;
  }

  &.active {
    display: inline;
    opacity: 1;
  }
}

app-generic-list {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.delete-task-button {
  margin-left: auto;
  opacity: 0;
  transition: .2s;

  &.active {
    margin-left: auto;
    display: block;
    opacity: 1;
  }
}


.toggle-expand-task-button {
  color: black;
  padding-bottom: 8px;

  & mat-icon {
    transition: .2s;
    font-weight: bold;
  }

  & .arrow-up {
    transform: rotate(180deg);
  }
}

.subtasks {
  & ul {
    opacity: 0;
    transition: .2s !important;
    height: 0;
    margin-top: -1rem;
  }

  &_expanded ul {
    opacity: 1;
    height: auto;
    margin-top: 0rem;
  }
}

::ng-deep .mat-checkbox-checked .mat-checkbox-background {
  background-color: var(--checkbox-bc) !important;
}

::ng-deep .mat-checkbox-frame {
  border-color: var(--checkbox-bc) !important;
}

::ng-deep .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: var(--checkbox-bc) !important;
}

::ng-deep  {
  &.mat-checkbox-background, .mat-checkbox-frame {
    border-radius: 70% !important;
  }
}

::ng-deep .mat-list-item-content {
  padding-left: 0 !important;
}

::ng-deep .mat-list-item {
  height: auto !important;
}

::ng-deep .mat-checkbox-label {
  color: white;
}

::ng-deep .mat-checkbox-layout {
  white-space: normal !important;
}

// rather than center the checkbox, put the checkbox in the first line
::ng-deep .mat-checkbox-inner-container {
  margin-top: 3px !important;
}

::ng-deep .mat-list-item-content{
}
