<div *ngIf="!apiReturnedInitialData" class="loading-content-container">
  <mat-progress-spinner color="primary" mode="indeterminate"></mat-progress-spinner>
</div>

<div class="empty-state" *ngIf="list.length === 0 && apiReturnedInitialData">
  <a href="https://www.freepik.com"><img src="../assets/list.svg" /></a>
  <p>
    You have no tasks to do! <br />
    Enjoy your day or <br />
    <span>Add Task</span>
  </p>
</div>

<ng-container *ngIf="(list && list.length > 0) && apiReturnedInitialData">
  <div class="content">
    <ng-content select="[content]"></ng-content>
  </div>
</ng-container>

