@import "../../../scss/shared.scss";


.authentication-description {
  color: #6F868C;
  text-align: center;
}

.container {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

form {
  width: 100%;
}

mat-form-field {
  width: 100%;
  display: block;
  color: white;
}

.submit-button {
  padding: .3rem 1.5rem;
  background-color: #00C896;
  margin-top: 1rem;
  color: #1F1F1F;
  width: 100%;

  @include respond-to(small) {
    width: auto;
    margin-top: 0;
    margin-left: 1rem;
  }

  & mat-icon {
    transform: rotate(-50deg);
  }
}

.generate-token-button {
  width: 100%;
  padding: .3rem 1.5rem;
  background-color: #F2ECFF;
  color: #1F1F1F;

  @include respond-to(small){
      width: auto;
  }
}

.remember-me-checkbox {
  text-align: center;
  color: #F2ECFF;
  display: block;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.form-actions {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

::ng-deep .authentication-form .mat-form-field.mat-focused .mat-form-field-label {
  color: #E8E8E8;
}

::ng-deep .authentication-form .mat-form-field-label {
  color: #E8E8E8;
}

::ng-deep .authentication-form .mat-form-field-appearance-outline .mat-form-field-outline {
  color: #555555;
}

::ng-deep .authentication-form .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: #00C896;
}

::ng-deep .authentication-form .mat-checkbox-frame {
  border-color: #555555;
}

::ng-deep .authentication-form .mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-backgrou {
  background-color: #00C090;
}
