<div class="container">

  <p class="authentication-description">All your tasks will be assigned to your token. You can share it with your friends. <mark>Click the Generate Random Token button and note down it to later use.</mark></p>

  <form class="authentication-form" (ngSubmit)="submit(form.value.token, rememberMe.checked)" [formGroup]="form">

    <mat-form-field appearance="outline">
      <mat-label>Token</mat-label>
      <input formControlName="token" matInput [type]="hideToken ? 'password' : 'text'" aria-required="true">
      <button type="button" mat-icon-button matSuffix (click)="hideToken = !hideToken" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideToken">
        <mat-icon>{{hideToken ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>

      <mat-error *ngIf="form.invalid">{{getErrorMessageFieldToken()}}</mat-error>
    </mat-form-field>

    <mat-checkbox class="remember-me-checkbox"
                  #rememberMe>
      Remember me
    </mat-checkbox>

    <div class="form-actions">
      <button class="generate-token-button" mat-button type="button" aria-label="Generate Token" (click)="generateRandomToken()">
        Generate Random Token
      </button>

      <button class="submit-button" mat-button [disabled]="form.invalid" type="submit" aria-label="Authenticate">
        <mat-icon aria-label="Plus icon">vpn_key</mat-icon> Authenticate
      </button>
    </div>
  </form>
</div>
