@import "../scss/shared.scss";

.tasks-list {
  height: 90%;
  width: 90%;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #1F1F1F;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-content: center;

  @include respond-to(small) {
    height: 80%;
    width: 60%;
  }

  @include respond-to(medium) {
    width: 40%;
  }

  @include respond-to(large) {
    width: 30%;
  }

  & h1 {
    color: #E8E8E8;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

app-tasks-list {
  margin-bottom: 1rem;
  flex-grow: 1;
  overflow: auto;

  &::-webkit-scrollbar {
    display: none;
  }
}

.tasks-list__bottom {
  display: flex;
  justify-content: space-between;
  height: auto;
  margin-bottom: 1rem;

  & p {
    color: white;
    align-self: center;
    margin-bottom: 0;
  }

  & button {
    color: #1F1F1F;
    background-color: #00C090;
  }
}

