@import "../scss/shared.scss";

.to-do-list {
  min-height: 90%;
  min-width: 90%;
  background-color: #444349;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-content: center;

  @include respond-to(medium) {
    min-height: 80%;
    min-width: 40%;
  }

  & h1 {
    color: #ffe4e5;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

.to-do-list-form {
  display: flex;
  justify-content: center;
  align-self: center;

  & button {
    vertical-align: middle;
    height: auto;
    margin-left: 0.5rem;
    background-color: #6264a7;
    color: white;
  }

  & mat-form-field {
    height: 100%;
    color: white;
    flex-grow: 1;
  }
}


/* Change label color on focused */
::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: #6264a7;
}

/* underline border color on focused */
::ng-deep .mat-focused .mat-form-field-underline .mat-form-field-ripple {
  background-color: #6264a7;
}

::ng-deep .mat-form-field-label {
  color: #6264a7;
}

/* underline border color on focused */
::ng-deep .mat-form-field-underline {
  background-color: #6264a7 !important;
}

::ng-deep .mat-focused .placeholder {
  color: white !important;
}
