<div class="to-do-list">
  <h1>Daily To Do List</h1>

  <div class="to-do-list-form">
    <form (ngSubmit)="addToDo(form.value.title)" [formGroup]="form">
      <mat-form-field appearance="standard">
        <mat-label>Title</mat-label>
        <input formControlName="title" matInput placeholder="Title">
        <mat-error *ngIf="form.invalid">The Title field is required.</mat-error>
      </mat-form-field>

      <button [disabled]="form.invalid" mat-button type="submit" aria-label="Add To Do Item">
        <mat-icon aria-hidden="false" aria-label="Plus icon">
          add
        </mat-icon>
      </button>
    </form>
  </div>

  <app-to-do-tree></app-to-do-tree>

</div>