@import "../../../../scss/shared.scss";

table {
  width: 100%;
}

.mat-table {
  background: none;

  & td {
    height: auto;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
}

.sub-task-checkbox {
  margin-top: .5rem;
  margin-left: 3rem;
  margin-block: .5rem;
}

.action-buttons {
  margin-left: auto;
  display: flex;
  align-items: center;
  transition: .2s;
  opacity: 0.4;
}

.task-checkbox {
  display: flex;
}

.strikethrough {
  text-decoration: line-through;
  text-decoration-thickness: 2px;
  text-decoration-color: var(--checkbox-bc);
}

.add-subtask-button {
  margin-left: .5rem;
  color: #E8E8E8;

  & mat-icon {
    font-weight: bold;
  }
}

app-edit-task-form {
  width: 100%;
}

.toggle-editing-task-button {
  color: #E8E8E8;

  & mat-icon {
    font-weight: lighter;
  }
}

.subtask {
  display: flex;
  justify-content: space-between;
}

app-generic-list {
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
}


.mat-checkbox-span {
  margin-top: auto;
  margin-bottom: auto;
}

mat-checkbox {
  word-break: break-all;
}

.toggle-expand-task-button {
  margin-top: auto;
  margin-bottom: auto;
  color: #E8E8E8;

  & mat-icon {
    font-weight: bold;
    transition: .2s;
  }

  & .arrow-up {
    transform: rotate(180deg);
  }
}

.task {
  display: flex;
}

.subtaskItems {
  & ul {
    height: 0;
    margin-top: -1rem;
    list-style-type: none;
    opacity: 0;
    transition: .2s !important;
  }

  &_expanded ul {
    height: auto;
    margin-top: 0rem;
    opacity: 1;
  }
}


.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}


::ng-deep .mat-checkbox-checked .mat-checkbox-background {
  background-color: var(--checkbox-bc) !important;
}

::ng-deep .mat-checkbox-frame {
  border-color: var(--checkbox-bc) !important;
}

::ng-deep .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: var(--checkbox-bc) !important;
}

::ng-deep {
  &.mat-checkbox-background, .mat-checkbox-frame {
    border-radius: 70% !important;
  }
}

::ng-deep .mat-checkbox-label {
  color: white;
}

::ng-deep .mat-checkbox-layout {
  white-space: normal !important;
}
