@import "../../../scss/shared.scss";


.authentication-description {
  color: #F2ECFF;
  text-align: center;
}

.container {
  width: 95%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;

  @include respond-to(medium) {
    width: 45%;
  }
}

form {
  width: 100%;
}

mat-form-field {
  width: 100%;
  display: block;
  color: white;
}

.submit-button {
  padding: .3rem 1.5rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
  background-color: #00C896;
  color: #1F1F1F;


  & mat-icon {
    transform: rotate(-50deg);
  }
}

::ng-deep .authentication-form .mat-form-field.mat-focused .mat-form-field-label {
  color: #E8E8E8;
}

::ng-deep .authentication-form .mat-form-field-label {
  color: #E8E8E8;
}

::ng-deep .authentication-form .mat-form-field-appearance-outline .mat-form-field-outline {
  color: #555555;
}

::ng-deep .authentication-form .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: #00C896;
}
